<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>platform-application</key>
  <true/>
  <key>com.apple.private.security.no-container</key>
  <true/>
  <key>com.apple.private.security.container-manager</key>
  <true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>sms</string>
		<string>spi</string>
		<string>identity</string>
		<string>bb-xpc</string>
		<string>phone</string>
	</array>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-calls</string>
		<string>access-call-providers</string>
		<string>access-moments</string>
	</array>
</dict>
</plist>